google_drive_loader.public.json
{
  "name": "гугл драйв для продажников",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9495dd4-0e40-43f7-9c04-94f05d624804",
              "name": "category",
              "value": "knowledge",
              "type": "string"
            },
            {
              "id": "99533e57-20fd-4a8f-884e-09b7a96c3132",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a718a8b7-a0f3-4cd0-9a6b-daec174e8afb",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        0
      ]
    },
    {
      "parameters": {
        "chunkSize": 800,
        "chunkOverlap": 150,
        "options": {}
      },
      "id": "af46ae50-a300-4401-9626-f924262824bb",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1232,
        368
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7c1ab07b-a8b8-4790-975e-8675d7882802",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        1040,
        208
      ],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "63467cbf-ebd2-4aea-b53f-32928f8ad2f9",
      "name": "ЗАГРУЗКА В БД",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1200,
        208
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "d22282de-5322-4efe-91da-c632ff4916dc",
      "name": "БАЗА ДАННЫХ",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_DRIVE_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_DRIVE_FOLDER_ID"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "a7112f2d-3b5d-4c52-95d9-9f8956119837",
      "name": "File Created Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "274ddae5-98a1-4120-b27c-e1ab81639a87",
      "name": "Extract PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf",
              "drawingsToFormat": "application/pdf",
              "slidesToFormat": "application/pdf",
              "sheetsToFormat": "application/pdf"
            }
          }
        }
      },
      "id": "2fc9de19-cb1a-43cc-a987-c00fc9812876",
      "name": "Download file",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        560,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "ЗАГРУЗКА В БД",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "БАЗА ДАННЫХ",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "ЗАГРУЗКА В БД": {
      "ai_document": [
        [
          {
            "node": "БАЗА ДАННЫХ",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "File Created Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF": {
      "main": [
        [
          {
            "node": "БАЗА ДАННЫХ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "95cd2d79-8098-400c-8bed-9db6fdf2512f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "17c497a17c13ffacff49e2f06382648f8cfb2c0c009c2d515122676bd6fb533b"
  },
  "id": "XOJx3G5LOTOKFIX8",
  "tags": [
    {
      "createdAt": "2025-10-06T10:44:09.269Z",
      "updatedAt": "2025-10-06T10:44:09.269Z",
      "id": "FJI63uR25bF7Q9ki",
      "name": "GulnurGV"
    }
  ]
}